
/* Sidebar.css */
.d-flex {
  display: flex;
}

.sidebar {
  width: 250px;
  transition: all 0.3s;
  position: fixed;
  top: 0;
  left: -150px; /* 20px visible when closed */
  height: 100%;
  z-index: 1000;
  background-color: #f8f9fa;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

.sidebar.active {
  left: 0;
}

.sidebar-header {
  padding: 10px;
  text-align: right;
}

.sidebar-content {
  padding: 15px;
  transition: margin-left 0.3s; /* Agregamos la transición para el margen izquierdo */
}

.content {
  flex-grow: 1;
  padding-left: 15px;
}

.content.sidebar-open {
  margin-left: 250px; /* Movemos el contenido hacia la derecha cuando el menú está abierto */
}

.shadow-hover:hover {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.3s ease;
}