body {
  background-color: #d1d1d133;
}

.container-css {
  width: 100%;
  height: 100vh;
  background-color: inherit;
  position: relative;
}

.card-css {
  width: 400px;
  height: 400px;
}

footer {
  background-color: #3b3b3b;
  color: #fff;
  padding: 10rem;
}
footer a {
  color: #fff;
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
}
