body {
  background-color: #d1d1d133;
}

.container-css {
  width: 100%;
  min-height: 100vh;
  max-width: 100%;
  background-color: inherit;
  position: relative;
}

.card-css {
  width: 400px;
  height: 400px;
}

.txt-h1-css {
  font-size: 1rem;
  text-transform: capitalize;
}

footer {
  background-color: #3b3b3b;
  color: #fff;
  padding: 10rem;
}

footer a {
  color: #fff;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

.txt-span-version-css {
  font-size: 12px;
  color: #6c757d!important;
}

/************************************************* 
*** MODO OSCURO
*************************************************/

body.light {
  --background-color: #ffffff;
  --text-color: #000000;
}

body.dark {
  --background-color: #000000;
  --text-color: #ffffff;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

.card-dark-mode {
  background-color: var(--background-color);
  color: var(--text-color);
  box-shadow:  0.05rem 0.05rem 0.35rem #fff;
}

.btn-dark-mode {
  background-color: var(--background-color);
  color: var(--text-color);
}

/* !! Este es para el modo oscuro del sistema (Desactivado por defecto) */
/*
@media (prefers-color-scheme: dark) {
  .card {
    color: white !important;
    background-color: #414141 !important;
    box-shadow:  0.05rem 0.05rem 0.35rem #fff;
  }

  .btn {
    color: white !important;
    background-color: #2a2a2a !important;
  }

  .navbar-dark{
    color: white !important;
    background-color: #222222 !important;
  }
  

  p, span, h1, h2, h3, h4, h5, h6 {
    color: white !important;
  }

  body.dark-mode {
    color: #fff;
    background-color: #1c1c1c;
  }

}
*/